/* HEADER Y BODY */

body {
    font-family: "Roboto Condensed", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header, nav {
    background-color: #000000;
}

header h1 {
    padding-right: 20px;
}

header a {
    font-size: 1.5em;
}

nav {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    column-count: 3;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    text-decoration: underline;
}

main{
    margin: 150px;
}

h1, h2, h3 {
    color: #fff;
    text-align: center;
}

.redes-sociales {
    display: flex;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.redes-sociales img {
    width: 50px;
    height: auto;
    padding: 0 5px;
    border-radius: 15px;
}

#logo{
    width: 360px;
    height: 200px;
}



/* INDEX */

.leyenda1{
    background-color: #555555;
    margin: auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    width: fit-content;
    font-size: 1.8em;
}

.enlace:hover{
    transition-duration: 250ms;
    transform: scale(1.1);
}

.enlace a{
    color: white;
    text-decoration: none;
}

.recuadro{
    background-color: #3f3f3f;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    column-count: 2;
    margin: 100px 75px;
    font-size: 1.5em;
}

.recuadro div{
    padding: 35px;
    color: #cccccc;
}

.imagen-recuadro{
    width: 720px;
    height: 540px;
    padding: 30px;
}



/* GRUPOS MUSCULARES */

.grupo-muscular {
    /*display: flex;*/
    display: grid;
    grid-template-columns: auto auto auto;
    /*padding: 20px;*/

    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.grupo-muscular a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
}

.grupo-muscular a img {
    width: 325px;
    height: 225px;
    border-radius: 30px;
    padding: 15px;
}

.grupo-muscular a:hover {
    transition-duration: 500ms;
    transform: scale(1.15);
}



/* FORMULARIO */

form{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    font-size: 1.5em;
    margin-top: 80px;
}

form label {
    display: block;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    font-size: 1.2em;
}

#formularioProgreso input[type="date"],
#formularioProgreso input[type="number"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formularioProgreso button {
    font-size: 1.2em;
    padding: 10px 20px; 
    background-color: #333; 
    color: white;
    border-radius: 10px;
}


/* mensaje.html */

.box {
    background-image: url('imagenes/fondo_gimnasio.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.box p {
    color: #b0b0b0;
    font-size: 1.2em;
}



/* progreso.html */

.fondo {
    background: url('imagenes/grua.jpg');
    background-size: auto;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 0;
}

.contenedor-graficas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 100px;
    padding: 20px; 
}

canvas {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}
